@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*,
html,
body {
    font-family: "Roboto Flex", sans-serif;
}


@import './assets.scss';

.formFileds.row {
    row-gap: 15px;
}

.light_head {
    font-size: 25px;
    font-weight: 500;
    color: $light5;
}

// PlayerProposed SASS Start
.player_proposed {
    .text {
        padding-left: 62px;
        font-weight: 400;
        color: #8B8F92;
        font-size: 14px;
    }

    .img {
        position: relative;

        img {
            width: 22px !important;
            height: 22px;
            border-radius: 100px;
        }

        .img0 {
            position: absolute;
            left: 0;
        }

        .img1 {
            position: absolute;
            left: 12px;
        }

        .img2 {
            position: absolute;
            left: 22px;
        }

        .img3 {
            position: absolute;
            left: 32px;
        }
    }
}
// PlayerPropos ed SASS End

// TextEditor SASS Start
.p-editor{
    // .ql-picker-label{
    //     &:hover{
    //         color:$black;
    //     }
    // }
    .p-editor-toolbar {
        background: #fff!important;
    }
    .ql-editor{
        background: #fff!important;
    }
    .p-editor-toolbar.ql-snow {
        border:1px solid $cardBorder!important;
    }
    .ql-toolbar.ql-snow + .ql-container.ql-snow{
        border:1px solid $cardBorder!important;
    }
}
.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    color:$silverCol!important;
}
// .p-editor .ql-snow.ql-toolbar button:hover .ql-stroke, .p-editor .ql-snow.ql-toolbar button:focus .ql-stroke {
//     stroke: red!important;
//       all: unset!important;
//     // stroke: var(--p-editor-toolbar-item-hover-color);
// }
// TextEditor SASS End

// Main Wrapper SASS Start
.main_wrapper {
    margin-top: 127px;
    margin-bottom: 22px;
    animation-name: mainFadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;

    .card {
        border: 1.5px solid $cardBorder;
        border-radius: 12px;
        height: 100%;

        .card-body {
            padding: 25px;

            .card_head {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .hd {
                    font-weight: 600;
                    font-size: 22px;
                }

                .link {
                    font-size: 12px;
                    text-decoration: none;
                    color: $ltext;
                    font-weight: 600;
                    font-size: 16px;
                }

                .box_icon {
                    border: 1.5px solid $cardBorder;
                    width: 45px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;

                    i {
                        font-size: 14px;
                        color: $ltext;
                    }
                }

                &.b_bottom {
                    border-bottom: 1px solid $cardBorder;
                    padding-bottom: 22px;
                }
            }
        }
    }
}

@keyframes mainFadeOut {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

// Main Wrapper SASS End

.container-fluid {
    padding: 0px 30px;
}

// Form SASS Start
.form-group {
    label {
        font-size: 14px;
        margin-bottom: 7px;
        font-weight: 500;
        color: $darkCol;



        .subTxt {
            font-size: 10.5px;
            letter-spacing: 0.5px;
            color: #475467;
            font-weight: 300;
        }
    }
}

.form-control {
    background: transparent !important;
    border: 1.6px solid #E2E8F0 !important;
    border-radius: 10px !important;
    padding: 7px 12px !important;
    color: $formText !important;
    font-size: 14px !important;

    &::placeholder {
        color: $formText !important;
        font-size: 14px !important;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.d_select {
    .p-component {
        height: 37px;
        width: 100%;
        background: transparent !important;
        border: 1.6px solid #E2E8F0 !important;
        border-radius: 10px !important;
        padding: 7px 12px !important;
        color: $formText !important;
        font-size: 14px !important;
        box-shadow: none !important;
    }
}

.p-select-label {
    color: $formText !important;
    padding: 0px !important;
    font-size: 14px !important;
}

.p-select-overlay.p-component {
    border: 1px solid $cardBorder;
    background-color: #fff !important;

    .p-select-list-container {
        &::-webkit-scrollbar-track {
            background-color: red !important;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

        .p-select-list {
            .p-select-option {
                color: $formText !important;
                font-size: 14px !important;

                &.p-focus {
                    background: $primaryCol !important;
                    color: #fff !important;
                }
            }
        }
    }
}

.d_date {
    .p-inputwrapper {
        width: 100%;
    }

    .p-inputtext {
        background: transparent !important;
        border: 1.6px solid #E2E8F0 !important;
        border-radius: 10px !important;
        padding: 7px 12px !important;
        color: $formText !important;
        font-size: 14px !important;
        box-shadow: none !important;

        &::placeholder {
            color: $formText !important;
            font-size: 14px !important;
        }
    }
}

.p-datepicker-panel.p-component {
    width: fit-content !important;
    min-width: fit-content !important;
    background: #fff;
    border: 1px solid $cardBorder;

    .p-datepicker-title {
        button {
            color: $light4;
            font-size: 15px;
        }
    }

    .p-datepicker-day-cell.p-datepicker-today {
        span {
            color: #fff !important;
        }
    }

    .p-datepicker-header {
        padding-bottom: 0px !important;
        background: #fff !important;
        border-bottom: 1px solid $cardBorder;
    }

    th {
        .p-datepicker-weekday {
            color: $light6;
            font-weight: 400;
        }
    }

    td {
        .p-datepicker-day {
            color: $light4;
        }
    }

    th,
    td {
        font-size: 14px;
    }
}

// Form SASS End

// Modal SASS Start
.p-dialog.p-component {
    background: #fff;
    box-shadow: 0px 8px 8px -4px #10182808;
    box-shadow: 0px 20px 24px -4px #10182814;
    border: none;

    .p-dialog-title {
        color: $darkCol;
    }

    .p-dialog-header {
        border-bottom: 1px solid $cardBorder;
        margin-bottom: 15px;
        padding: 10px 20px;
    }



    .modal_footer {
        display: flex;
        justify-content: end;
        width: 100%;
        margin-top: 20px;

        .btn {
            min-width: 100px;
        }
    }
}

// Modal SASS End

// SearchBox SASS Start
.searchBox {
    position: relative;

    &.icon_box {
        .icon {
            width: fit-content;
            height: fit-content;
            line-height: 0px;
            position: absolute;
            top: 50%;
            left: 13px;
            transform: translateY(-50%);

            i {
                color: $formText;
            }
        }

        input {
            padding-left: 35px !important;
        }
    }
}

// SearchBox SASS End


// Donut SASS Start
.donut {
    .items {
        li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            position: relative;
            padding-left: 20px;

            &:before {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 100px;
                background: $primaryCol;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            &:nth-child(2):before {
                background: #F6DED8;
            }

            &:nth-child(3):before {
                background: #FFD2C7;
            }

            .label {
                font-weight: 600;
                font-size: 15px !important;
            }

            .count {
                border: 1.5px solid $primaryLightBorder2;
                border-radius: 4px;
                background: $primaryLight;
                color: $primaryCol;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 8px;
                height: 19px;
            }
        }
    }
}

// Donut SASS Start



// All Doc SASS Start
.all_doc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    li {
        border: 1px solid $cardBorder;
        border-radius: 12px;
        padding: 16px 24px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        .doc {
            display: flex;
            align-items: center;
            gap: 12px;

            img {
                width: 35px;
            }

            .dt {
                .name {
                    font-size: 13.5px;
                    font-weight: 500;
                }

                .size {
                    font-size: 13px;
                    font-weight: 400;
                    color: $gtext;
                }
            }
        }

        .download {
            i {
                color: $silverCol;
                font-size: 22px;
            }
        }
    }
}

// ALl DOc SASS Start



// Simple Table SASS Start
.simple_table {
    table {

        th,
        td {
            padding-inline: 13px;
        }

        thead {
            th {
                background: #8F0301CC;
                color: #fff;
                font-weight: 500;
                font-size: 17.5px;
                padding-block: 15px;

                &:first-child {
                    border-radius: 10px 0px 0px 0px;
                }

                &:last-child {
                    border-radius: 0px 10px 0px 0px;
                }
            }
        }

        tbody {
            td {
                font-size: 14px;
                font-weight: 400;
                padding-block: 13px;
            }
        }
    }
}

// Simple Table SASS Start

// Video List SASS Start
.video_list {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        li {
            .video_main {
                width: 100%;
                height: 250px;
                border-radius: 8px;
                position: relative;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                }

                .backdrop {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.3);
                }

                .play_button {
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 100px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 60px;
                        height: 60%;
                    }
                }

                .time_duration {
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 100px;
                    color: #fff;
                    padding: 2px 5px;
                    position: absolute;
                    border-radius: 4px;
                    bottom: 5px;
                    right: 5px;
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

// Video List SASS End

// Portal Header SASS Start
header {
    &.protal_header {
        background: #fff;
        box-shadow: 0px 2px 6px 0px #0000001F;
        padding: 13px 0px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;

        .icon {
            position: relative;
            top: 2px;
        }

        .main_header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                img {
                    width: 102px;
                }
            }

            .nav_links {
                ul {
                    list-style: none;
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 0px;

                    li {
                        .nav_item {
                            display: flex;
                            align-items: start;
                            gap: 6px;
                            text-decoration: none;
                            color: $primaryCol;
                            font-weight: 400;
                            font-size: 13.7px;
                            padding: 6px 12px;

                            .text {
                                position: relative;
                                top: 0.5px;
                            }

                            &.active {
                                background: $primaryGr;
                                border-radius: 6px;
                                color: #fff;

                                svg {
                                    color: #fff;
                                    stroke: #fff;
                                }

                                path {
                                    stroke: #fff;
                                }
                            }
                        }
                    }
                }
            }

            .header_option {
                display: flex;
                align-items: center;
                gap: 10px;

                .profile {
                    img {
                        width: 40px;
                        object-fit: contain;
                        border-radius: 100px;
                        border: 1px solid $primaryLightBorder1;
                    }
                }

                .language {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    .text {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

// Portal Header SASS End

// Tab Content SASS Start
.tabs_header_cs {
    border: 1px solid $primaryLightBorder1;
    border-radius: 8px;

    button {
        margin: 0px;
        border: 0px;
        background-color: transparent;
        color: $primaryCol;
        transition: 0.2s all linear;
        font-weight: 400;
        font-size: 14px;
        padding: 7px 14px;
        border-right: 1px solid $primaryLightBorder1;

        &.active {
            background: $primaryLight1;
            color: $primaryCol;
        }
    }

    button:first-child {
        border-radius: 7px 0px 0px 7px;
    }

    button:last-child {
        border-radius: 0px 7px 7px 0px;
        border: 0px;
    }
}

// Tab Content SASS End


// Dashboard SASS Start
.dashboard {
    .gird_col {
        display: grid;
        grid-template-columns: 2.7fr 1fr;
        gap: 33px;
    }

    .custom_gap {
        gap: 33px;
    }
}

.main_banner {
    background-color: $primaryLight;
    border: 1.5px solid $primaryLightBorder2;
    border-radius: 12px;
    padding: 35px 200px;
    position: relative;
    margin: 0px 0px 0px 25px;

    .img_left {
        position: absolute;
        bottom: 0;
        left: -22px;
        width: 184px;
    }

    .img_right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 235px;
    }

    .heading {
        color: $primaryText1;
        font-weight: 600;
        font-size: 31px;
        margin: 0px;
    }

    .text {
        color: $primaryText2;
        font-weight: 400;
        font-size: 23px;
        margin: 0px;
        padding: 8px 100px 16px 0px;
    }

    .btn {
        font-size: 14px;
    }
}

// Dashboard SASS End


// Top Leads Cards SASS Start
.top_leads {
    display: flex;
    justify-content: center;
    gap: 160px;
    align-items: center;
    padding: 7px 0px;

    li {
        position: relative;

        .data {
            .top {
                display: flex;
                align-items: center;
                gap: 20px;

                .circle {
                    border-radius: 100px;
                    background: #8F03011A;
                    border-radius: 100px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 16px;
                    }
                }

                .rside {
                    .bottomText {
                        font-size: 12px;
                        color: $primaryText3;
                        display: block;
                        margin-top: 10px;

                        i {
                            font-size: 10px;
                            padding-right: 3px;
                            color: $primaryText3;
                        }
                    }
                }

                .lside {
                    .bottomText {
                        font-size: 13px;
                        position: relative;
                        top: 7px;
                    }
                }

            }
        }

        &:nth-child(2) {
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: -60px;
                bottom: 0;
                width: 2px;
                height: 100%;
                background-color: $primaryLightBorder2;
            }

            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: -70px;
                bottom: 0;
                width: 2px;
                height: 100%;
                background-color: $primaryLightBorder2;
            }
        }
    }
}

// Top Leads Cards SASS End



// Request Item SASS Start
.request_items {
    .item {
        background-color: $primaryLight;
        border: 1px solid $primaryLightBorder2;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
        }

        .rside {
            display: flex;
            align-items: center;
            gap: 10px;

            .img {
                img {
                    width: 60px;
                    border-radius: 100px;
                }
            }

            .detail {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .top {
                    display: flex;
                    gap: 20px;

                    &>div {
                        display: flex;
                        gap: 4px;

                        label {
                            font-weight: 500;
                            color: $primaryCol;
                            font-size: 16px;
                        }

                        .text {
                            font-weight: 400;
                            color: $primaryCol;
                            font-size: 16px;
                        }
                    }
                }

                .bottom {
                    display: flex;
                    gap: 4px;

                    label {
                        font-weight: 500;
                        color: $silverCol;
                        font-size: 15px;
                    }

                    .text {
                        font-weight: 400;
                        color: $silverCol;
                        font-size: 15px;
                    }
                }
            }
        }

        .lside {
            text-align: right;

            .date {
                color: $silverCol;
                font-size: 13px;
                font-style: italic;
                margin-bottom: 10px;
            }

            .btn {
                min-width: 70px;
            }
        }
    }

    .req_checkbox {
        background-color: red;
    }

    .action {
        color: #292D3299;
        cursor: pointer;
    }
}

// Request Item SASS End

// Page Header SASS Start
.page_header {
    display: flex;
    justify-content: space-between;

    .heading_icon {
        display: flex;
        align-items: center;
        gap: 16px;

        i {
            font-size: 17px;
        }
    }

    .hd {
        font-weight: 600;
        color: $light6;
        ;
    }

    .r_side {
        display: flex;
        align-items: center;
        gap: 10px;

    }
}

// Page Header SASS End

// Player Card SASS Start
.player_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 22px;
}

.player_card {
    border: 1.5px solid $cardBorder;
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;
    align-items: center;
    border-radius: 12px;
    padding: 25px;
    margin-top: 90px;

    .profile_picture {
        width: 125px;
        height: 125px;
        object-fit: cover;
        border: 2px solid #8F03013D;
        border-radius: 100px;
        background-color: white;
        position: absolute;
        top: 0;
        left: 50%;
        // transform: translateX(-50%);
        transform: translate(-50%, -50%);
    }

    .middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin: 16px 0px 20px 0px;
        padding-top: 35px;

        .name {
            font-size: 22px;
            font-weight: 600;
            color: $primaryCol;
        }

        .desc {
            display: flex;
            align-items: center;
            gap: 5px;

            label {
                font-weight: 600;
                color: $pltext;
                font-size: 15px;
            }

            .text {
                color: $pltext;
                font-size: 15px;
                font-weight: 400;
            }

            .club_img {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .club_img {
            display: flex;
        }
    }

    .btn {
        width: 100%;
    }

    .status {
        position: absolute;
        top: 8px;
        right: 8px;
        background: $primaryLight;
        color: $primaryCol;
        border-radius: 6px;
        font-size: 9px;
        padding: 6px 15px;
    }

    .trashIcon {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}

// Player Card SASS End


// Player Profile SASS Start
.player_profile {
    .profile_section {
        display: grid;
        grid-template-columns: 16% 84%;
        border: 2px solid $primaryLightBorder2;
        margin-top: 35px;

        .profileImage {
            position: relative;
            border: 3px solid rgb(133 121 119);
            border-radius: 12px;
            transform: scale(1.04);
            overflow: hidden;

            &::before {
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.57) 0%, rgba(255, 255, 255, 0) 100%, rgba(0, 212, 255, 0) 100%);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                z-index: 1;
                width: 100%;
                height: 100%;
            }

            img {
                height: 100%;
                object-fit: cover;

            }

            position: relative;

            .profile_number {
                position: absolute;
                bottom: 10px;
                left: 10px;
                color: #fff;
                font-size: 50px;
                font-weight: 500;
                z-index: 1;

            }
        }

        .profile_instruction {
            .main_col {
                padding: 10px 30px;

                .top {
                    display: flex;
                    justify-content: space-between;

                    .right_side {
                        .player_name {
                            font-size: 38px;
                            color: #8F0301CC;
                        }

                        .teamAgent {
                            li {
                                margin-bottom: 10px;

                                &:last-child {
                                    margin-bottom: 0px;
                                }

                                &>div {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;

                                    label {
                                        font-size: 15px;
                                    }
                                }
                            }

                            .sm_img {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }

                    .left_side {
                        .fcol {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            justify-content: end;
                            margin-bottom: 5px;

                            .status {
                                padding: 3px 10px 2px 10px;
                                font-weight: 4c00;
                                border-radius: 4px;
                                color: $primaryCol;
                                background: $primaryLight;
                                font-size: 9px;
                            }

                            .text {
                                font-size: 10px;
                            }
                        }

                        .contract_expiry {
                            border: 1px solid $lightBorder;
                            border-radius: 12px;

                            .header {
                                border-bottom: 1px solid $lightBorder;
                                padding: 5px 15px;
                                font-size: 11px;
                                text-align: center;
                            }

                            .counter {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                justify-content: center;
                                align-items: center;
                                padding: 8px 15px;
                                position: relative;
                                gap: 25px;

                                &:before {
                                    background: $lightBorder;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 1px;
                                    height: 80%;
                                    content: '';
                                }

                                &>div {
                                    text-align: center;

                                    .count {
                                        font-size: 14px;
                                    }

                                    .text {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }

                .ft_bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .contract_dates {
                        label {
                            font-size: 12px;
                        }

                        span {
                            font-size: 12px;
                            font-style: italic;
                            color: $gtext;
                        }
                    }

                    .invite_link {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .icon {
                            color: $primaryCol;

                            i {
                                font-size: 14px;
                            }
                        }

                        .text {
                            font-style: italic;
                            font-size: 13px;
                            color: $primaryCol;
                            border-bottom: 1px solid $primaryCol;

                        }
                    }
                }
            }
        }

        .profile_detail {
            background: $primaryLight;
            border: 1.6px solid $primaryLightBorder2;
            padding: 25px 30px;
            border-left: none;
            ;
            border-radius: 0px 0px 12px 0px;

            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    // grid-template-columns: 50% 50%;
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0px;
                    }

                    label {
                        font-weight: 500;
                        font-size: 16.5px;
                    }

                    .text {
                        font-weight: 400;
                        font-size: 16.5px;
                    }
                }
            }
        }
    }
}

// Player Profile SASS End


// Job View SASS Start
.jobView {
    margin-top: 35px;
    .personal_info {
        .top {
            .main {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .bookmark_icon {
                    i {
                        font-size: 22px;
                        color: $primaryCol;
                    }
                }
            }
        }

        .middle {
            .info {
                background: $primaryLight;
                padding: 20px;
                border-radius: 8px;
                height: 100%;
                display: flex;
                // justify-content:center;
                align-items: center;

                ul {
                    width: 100%;

                    li {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        label {
                            font-weight: 500;
                        }

                        .data {
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .bottom {
            .more_info {
                .hd {
                    margin-top: 25px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

// Job View SASS End

// Side Player SASS Start
.sidePlayer {
    .hd {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .players {
        li {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0px;
            }

            .box {
                display: flex;
                gap: 10px;
                border: 1px solid #8F03010F;
                border-radius: 8px;
                padding: 6px;

                img {
                    width: 55px;
                    height: 55px;
                    border-radius: 100px;
                    border: 2px solid $primaryLightBorder2;
                }

                .profile {
                    display: flex;
                    flex-direction: column;
                    gap: 1px;
                    position: relative;
                    top: 2px;
                }

                &>div div {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .dot {
                        width: 5px;
                        height: 5px;
                        background-color: $silverCol;
                        border-radius: 100px;
                    }
                }
            }
        }
    }
}

// Side Player SASS End

// Agent View SASS Start
.agent_view {
    
    .profile_section {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 13% 87%;
        gap: 20px;

        .card {
            height: fit-content;
        }

        .lside {
            display: flex;
            flex-direction: column;
            gap: 20px;

            img {
                border-radius: 16px;
                width: 100%;
                height: 145px;
                object-fit: cover;
                object-position: top;
            }
        }

        .rside {
            .name {
                letter-spacing: 0.5px;
            }

            .dts {
                display: flex;
                align-items: center;
                gap: 10px;

                .text {
                    font-size: 13px;
                    color: $darkCol;
                    font-weight: 500;

                }

                .count {
                    background: #8F030114;
                    color: $primaryCol;
                    padding: 2px 10px 1px 10px;
                    border-radius: 4px;
                    font-size: 9px;
                    font-weight: 500;
                    width: fit-content;
                }
            }

            .main_card {
                border-width: 2px;

                .heading {
                    border-bottom: 1.6px solid $cardBorder;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
// Agent View SASS End


// LegalUpdate SASS Start
.legal_update{
    .main_section{
        margin-top: 35px;
        .update_item{
            li{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
                .updates{
                    display: flex;
                    align-items: start;
                    gap:15px;
                    .sideLogo{
                        width: 40px;
                    }
                    .readMore{
                        font-size: 13.5px;
                        .icon{
                            i{
                                font-size:14px;
                            }
                        }   
                    }
                    .cover{
                        height: 230px;
                        width: 100%;
                        border-radius: 8px;
                        object-fit: cover;
                        object-position: top;
                    }
                }
            }
        }
    }
}
// LegalUpdate SASS End

// News Feed Section Start
.news_feed{
    .list{
        li{
            margin-bottom: 29px;
            &:last-child{
                margin-bottom: 0px;
            }
            .item{
                border:1px solid $cardBorder;
                border-radius: 14px;
                overflow: hidden;
                position: relative;
                img{
                    width: 100%;
                    height: 170px;
                    object-fit: cover;
                    object-position: top;
                }
                .view_btn{
                    position: absolute;
                    bottom:10px;
                    right: 10px;
                }
            }
        }
    }
}
// News Feed Section End


// News Feeds SASS Start
.news_feeds{
    .editor{
        position: relative;
        .btn{
            position: absolute;
            bottom:10px;
            right:10px;
        }
    }
    .feed_list{
        ul{
            li{
                .top{
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    .lside{
                        display: flex;
                        align-items: center;
                        gap:10px;
                        .profile{
                            width: 50px;
                            height: 50px;
                            border-radius: 100px;
                        }
                        i{
                            font-size: 10px;
                        }
                        .dot{
                            display: inline-block;
                            width:3px;
                            height:3px;
                            background: $silverCol;
                            border-radius: 100px;
                        }
                    }
                }
                .desc{
                    font-size: 13.5px;
                    color:$formText;
                    margin: 20px 0px 10px 0px;
                    .readMore{
                        color:$primaryCol;
                    }
                }
                .cover_img{
                    border-radius: 8px;
                    height: 300px;
                    width: 100%;
                    object-fit: cover;
                }
                .social_icon{
                    display: flex;
                    border-bottom:1px solid $lightBorder;
                    padding-bottom: 10px;
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    gap:6px;
                    .dot{
                          display: inline-block;
                            width:2px;
                            height:2px;
                            background: $silverCol;
                            border-radius: 100px;
                    }
                    .text{
                        color:$silverCol;
                        font-size: 11.5px;
                    }
                    .icon{
                        background-color: #1485BD;
                        border-radius: 100px;
                        width: 22px;
                        height: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            color:#fff;
                            font-size:10px;
                            transform: scaleX(-1);
                        }
                    }
                }
                .bottom_icon{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding-top: 20px;
                    .action_social{
                        display: flex;
                        align-items: center;
                        gap:8px;
                        cursor: pointer;
                        .icon{
                            i{
                                color:$silverCol;
                                font-size: 18px;
                            }
                            &.rotate{
                               i{
                                 transform: scaleX(-1);
                               }
                            }
                        }
                        .title{
                           color:$silverCol; 
                           font-size: 13px;
                           font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}
// News Feeds SASS End