@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
*,
html,
body {
  font-family: "Roboto Flex", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.primaryCol {
  color: #8F0301;
}

.primaryText1 {
  color: rgba(74, 13, 12, 0.8);
}

.primaryText2 {
  color: rgba(74, 13, 12, 0.6980392157);
}

.primaryText3 {
  color: rgba(143, 3, 1, 0.5411764706);
}

.ltext {
  color: rgba(16, 24, 40, 0.6980392157);
}

.gtext {
  color: #384046;
}

.silverCol {
  color: #8B8F92;
}

.darkCol {
  color: #001727;
}

.formText {
  color: #475569;
}

.pltext {
  color: rgba(74, 13, 12, 0.4784313725);
}

.drPrimary {
  color: #4A0D0C;
}

.fw1 {
  font-weight: 100;
}

.fw2 {
  font-weight: 200;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.fw8 {
  font-weight: 800;
}

.f11 {
  font-size: 11px;
}

.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f15 {
  font-size: 15px;
}

.f16 {
  font-size: 16px;
}

.f17 {
  font-size: 17px;
}

.f18 {
  font-size: 18px;
}

.f19 {
  font-size: 19px;
}

.f20 {
  font-size: 20px;
}

.f21 {
  font-size: 21px;
}

.f22 {
  font-size: 22px;
}

.f23 {
  font-size: 23px;
}

.f24 {
  font-size: 24px;
}

.f25 {
  font-size: 25px;
}

.f26 {
  font-size: 26px;
}

.f27 {
  font-size: 27px;
}

.f28 {
  font-size: 28px;
}

.f29 {
  font-size: 29px;
}

.f30 {
  font-size: 30px;
}

.f31 {
  font-size: 31px;
}

.f32 {
  font-size: 32px;
}

.f33 {
  font-size: 33px;
}

.f34 {
  font-size: 34px;
}

.f35 {
  font-size: 35px;
}

.f36 {
  font-size: 36px;
}

.f37 {
  font-size: 37px;
}

.f38 {
  font-size: 38px;
}

.f39 {
  font-size: 39px;
}

.f40 {
  font-size: 40px;
}

.f41 {
  font-size: 41px;
}

.f42 {
  font-size: 42px;
}

.f43 {
  font-size: 43px;
}

.f44 {
  font-size: 44px;
}

.f45 {
  font-size: 45px;
}

.f46 {
  font-size: 46px;
}

.f47 {
  font-size: 47px;
}

.f48 {
  font-size: 48px;
}

.f49 {
  font-size: 49px;
}

.f50 {
  font-size: 50px;
}

.btn {
  font-size: 12px;
  padding: 8px 12px 9px 12px;
  border-radius: 8px;
  font-weight: 500;
}
.btn.icon {
  gap: 7px;
  align-items: center;
  display: flex;
}
.btn.btn-primary {
  background: linear-gradient(180deg, rgba(143, 3, 1, 0.9) 58.17%, rgba(74, 13, 12, 0.9) 100%);
  border: 1px solid #8F0301;
}
.btn.btn-secondary {
  background: transparent;
  color: #8F0301;
  border: 1px solid #8F0301;
}
.btn.btn-simple {
  background: #8F0301;
  color: #fff;
  font-size: 15px;
  padding: 8px 18px;
  border-radius: 8px;
}

.formFileds.row {
  row-gap: 15px;
}

.light_head {
  font-size: 25px;
  font-weight: 500;
  color: #424441;
}

.main_wrapper {
  margin-top: 127px;
  margin-bottom: 22px;
  animation-name: mainFadeOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
.main_wrapper .card {
  border: 1.5px solid #E2E8F0;
  border-radius: 12px;
  height: 100%;
}
.main_wrapper .card .card-body {
  padding: 18px;
}
.main_wrapper .card .card-body .card_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_wrapper .card .card-body .card_head .hd {
  font-weight: 600;
  font-size: 22px;
}
.main_wrapper .card .card-body .card_head .link {
  font-size: 12px;
  text-decoration: none;
  color: rgba(16, 24, 40, 0.6980392157);
  font-weight: 600;
  font-size: 16px;
}
.main_wrapper .card .card-body .card_head .box_icon {
  border: 1.5px solid #E2E8F0;
  width: 45px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.main_wrapper .card .card-body .card_head .box_icon i {
  font-size: 14px;
  color: rgba(16, 24, 40, 0.6980392157);
}
.main_wrapper .card .card-body .card_head.b_bottom {
  border-bottom: 1px solid #E2E8F0;
  padding-bottom: 22px;
}

@keyframes mainFadeOut {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.container-fluid {
  padding: 0px 30px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 7px;
  font-weight: 500;
  color: #001727;
}
.form-group label .subTxt {
  font-size: 10.5px;
  letter-spacing: 0.5px;
  color: #475467;
  font-weight: 300;
}

.form-control {
  background: transparent !important;
  border: 1.6px solid #E2E8F0 !important;
  border-radius: 10px !important;
  padding: 7px 12px !important;
  color: #475569 !important;
  font-size: 14px !important;
}
.form-control::-moz-placeholder {
  color: #475569 !important;
  font-size: 14px !important;
}
.form-control::placeholder {
  color: #475569 !important;
  font-size: 14px !important;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.p-dialog.p-component {
  background: #fff;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.031372549);
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.0784313725);
  border: none;
}
.p-dialog.p-component .p-dialog-title {
  color: #001727;
}
.p-dialog.p-component .p-dialog-header {
  border-bottom: 1px solid #E2E8F0;
  margin-bottom: 15px;
  padding: 10px 20px;
}
.p-dialog.p-component .modal_footer {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 20px;
}
.p-dialog.p-component .modal_footer .btn {
  min-width: 100px;
}

.searchBox {
  position: relative;
}
.searchBox.icon_box .icon {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 0px;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
.searchBox.icon_box .icon i {
  color: #475569;
}
.searchBox.icon_box input {
  padding-left: 35px !important;
}

.donut .items li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}
.donut .items li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  background: #8F0301;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.donut .items li:last-child {
  margin-bottom: 0px;
}
.donut .items li:nth-child(2):before {
  background: #F6DED8;
}
.donut .items li:nth-child(3):before {
  background: #FFD2C7;
}
.donut .items li .label {
  font-weight: 600;
  font-size: 15px !important;
}
.donut .items li .count {
  border: 1.5px solid rgba(143, 3, 1, 0.0784313725);
  border-radius: 4px;
  background: rgba(143, 3, 1, 0.0392156863);
  color: #8F0301;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  height: 19px;
}

.all_doc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.all_doc li {
  border: 1px solid #E2E8F0;
  border-radius: 12px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.all_doc li .doc {
  display: flex;
  align-items: center;
  gap: 12px;
}
.all_doc li .doc img {
  width: 35px;
}
.all_doc li .doc .dt .name {
  font-size: 13.5px;
  font-weight: 500;
}
.all_doc li .doc .dt .size {
  font-size: 13px;
  font-weight: 400;
  color: #384046;
}
.all_doc li .download i {
  color: #8B8F92;
  font-size: 22px;
}

.simple_table table th, .simple_table table td {
  padding-inline: 13px;
}
.simple_table table thead th {
  background: rgba(143, 3, 1, 0.8);
  color: #fff;
  font-weight: 500;
  font-size: 17.5px;
  padding-block: 15px;
}
.simple_table table thead th:first-child {
  border-radius: 10px 0px 0px 0px;
}
.simple_table table thead th:last-child {
  border-radius: 0px 10px 0px 0px;
}
.simple_table table tbody td {
  font-size: 14px;
  font-weight: 400;
  padding-block: 13px;
}

.video_list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.video_list ul li .video_main {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.video_list ul li .video_main img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.video_list ul li .video_main .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.video_list ul li .video_main .play_button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_list ul li .video_main .play_button svg {
  width: 60px;
  height: 60%;
}
.video_list ul li .video_main .time_duration {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  color: #fff;
  padding: 2px 5px;
  position: absolute;
  border-radius: 4px;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.protal_header {
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1215686275);
  padding: 13px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header.protal_header .icon {
  position: relative;
  top: 2px;
}
header.protal_header .main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.protal_header .main_header .logo img {
  width: 102px;
}
header.protal_header .main_header .nav_links ul {
  list-style: none;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px;
}
header.protal_header .main_header .nav_links ul li .nav_item {
  display: flex;
  align-items: start;
  gap: 6px;
  text-decoration: none;
  color: #8F0301;
  font-weight: 400;
  font-size: 13.7px;
  padding: 6px 12px;
}
header.protal_header .main_header .nav_links ul li .nav_item .text {
  position: relative;
  top: 0.5px;
}
header.protal_header .main_header .nav_links ul li .nav_item.active {
  background: linear-gradient(180deg, rgba(143, 3, 1, 0.9) 58.17%, rgba(74, 13, 12, 0.9) 100%);
  border-radius: 6px;
  color: #fff;
}
header.protal_header .main_header .nav_links ul li .nav_item.active svg {
  color: #fff;
  stroke: #fff;
}
header.protal_header .main_header .nav_links ul li .nav_item.active path {
  stroke: #fff;
}
header.protal_header .main_header .header_option {
  display: flex;
  align-items: center;
  gap: 10px;
}
header.protal_header .main_header .header_option .profile img {
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100px;
  border: 1px solid rgba(143, 3, 1, 0.3215686275);
}
header.protal_header .main_header .header_option .language {
  display: flex;
  align-items: center;
  gap: 6px;
}
header.protal_header .main_header .header_option .language .text {
  font-size: 11px;
}

.tabs_header_cs {
  border: 1px solid rgba(143, 3, 1, 0.3215686275);
  border-radius: 8px;
}
.tabs_header_cs button {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  color: #8F0301;
  transition: 0.2s all linear;
  font-weight: 400;
  font-size: 14px;
  padding: 7px 14px;
  border-right: 1px solid rgba(143, 3, 1, 0.3215686275);
}
.tabs_header_cs button.active {
  background: rgba(143, 3, 1, 0.2);
  color: #8F0301;
}
.tabs_header_cs button:first-child {
  border-radius: 7px 0px 0px 7px;
}
.tabs_header_cs button:last-child {
  border-radius: 0px 7px 7px 0px;
  border: 0px;
}

.dashboard .gird_col {
  display: grid;
  grid-template-columns: 2.7fr 1fr;
  gap: 33px;
}
.dashboard .custom_gap {
  gap: 33px;
}

.main_banner {
  background-color: rgba(143, 3, 1, 0.0392156863);
  border: 1.5px solid rgba(143, 3, 1, 0.0784313725);
  border-radius: 12px;
  padding: 35px 200px;
  position: relative;
  margin: 0px 0px 0px 25px;
}
.main_banner .img_left {
  position: absolute;
  bottom: 0;
  left: -22px;
  width: 184px;
}
.main_banner .img_right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 235px;
}
.main_banner .heading {
  color: rgba(74, 13, 12, 0.8);
  font-weight: 600;
  font-size: 31px;
  margin: 0px;
}
.main_banner .text {
  color: rgba(74, 13, 12, 0.6980392157);
  font-weight: 400;
  font-size: 23px;
  margin: 0px;
  padding: 8px 100px 16px 0px;
}
.main_banner .btn {
  font-size: 14px;
}

.top_leads {
  display: flex;
  justify-content: center;
  gap: 160px;
  align-items: center;
  padding: 7px 0px;
}
.top_leads li {
  position: relative;
}
.top_leads li .data .top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.top_leads li .data .top .circle {
  border-radius: 100px;
  background: rgba(143, 3, 1, 0.1019607843);
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_leads li .data .top .circle img {
  width: 16px;
}
.top_leads li .data .top .rside .bottomText {
  font-size: 12px;
  color: rgba(143, 3, 1, 0.5411764706);
  display: block;
  margin-top: 10px;
}
.top_leads li .data .top .rside .bottomText i {
  font-size: 10px;
  padding-right: 3px;
  color: rgba(143, 3, 1, 0.5411764706);
}
.top_leads li .data .top .lside .bottomText {
  font-size: 13px;
  position: relative;
  top: 7px;
}
.top_leads li:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 0;
  left: -60px;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: rgba(143, 3, 1, 0.0784313725);
}
.top_leads li:nth-child(2)::after {
  position: absolute;
  content: "";
  top: 0;
  right: -70px;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: rgba(143, 3, 1, 0.0784313725);
}

.request_items .item {
  background-color: rgba(143, 3, 1, 0.0392156863);
  border: 1px solid rgba(143, 3, 1, 0.0784313725);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
}
.request_items .item:last-child {
  margin-bottom: 0px;
}
.request_items .item .rside {
  display: flex;
  align-items: center;
  gap: 10px;
}
.request_items .item .rside .img img {
  width: 60px;
  border-radius: 100px;
}
.request_items .item .rside .detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.request_items .item .rside .detail .top {
  display: flex;
  gap: 20px;
}
.request_items .item .rside .detail .top > div {
  display: flex;
  gap: 4px;
}
.request_items .item .rside .detail .top > div label {
  font-weight: 500;
  color: #8F0301;
  font-size: 16px;
}
.request_items .item .rside .detail .top > div .text {
  font-weight: 400;
  color: #8F0301;
  font-size: 16px;
}
.request_items .item .rside .detail .bottom {
  display: flex;
  gap: 4px;
}
.request_items .item .rside .detail .bottom label {
  font-weight: 500;
  color: #8B8F92;
  font-size: 15px;
}
.request_items .item .rside .detail .bottom .text {
  font-weight: 400;
  color: #8B8F92;
  font-size: 15px;
}
.request_items .item .lside {
  text-align: right;
}
.request_items .item .lside .date {
  color: #8B8F92;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}
.request_items .item .lside .btn {
  min-width: 70px;
}

.page_header {
  display: flex;
  justify-content: space-between;
}
.page_header .heading_icon {
  display: flex;
  align-items: center;
  gap: 16px;
}
.page_header .heading_icon i {
  font-size: 17px;
}
.page_header .hd {
  font-weight: 600;
}
.page_header .r_side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 22px;
}

.player_card {
  border: 1.5px solid #E2E8F0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 12px;
  padding: 25px;
  margin-top: 90px;
}
.player_card .profile_picture {
  width: 125px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid rgba(143, 3, 1, 0.2392156863);
  border-radius: 100px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.player_card .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 16px 0px 20px 0px;
  padding-top: 35px;
}
.player_card .middle .name {
  font-size: 22px;
  font-weight: 600;
  color: #8F0301;
}
.player_card .middle .desc {
  display: flex;
  align-items: center;
  gap: 5px;
}
.player_card .middle .desc label {
  font-weight: 600;
  color: rgba(74, 13, 12, 0.4784313725);
  font-size: 15px;
}
.player_card .middle .desc .text {
  color: rgba(74, 13, 12, 0.4784313725);
  font-size: 15px;
  font-weight: 400;
}
.player_card .middle .desc .club_img {
  display: flex;
  align-items: center;
  gap: 5px;
}
.player_card .middle .desc .club_img img {
  width: 20px;
  height: 20px;
}
.player_card .middle .club_img {
  display: flex;
}
.player_card .btn {
  width: 100%;
}
.player_card .status {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(143, 3, 1, 0.0392156863);
  color: #8F0301;
  border-radius: 6px;
  font-size: 9px;
  padding: 6px 15px;
}
.player_card .trashIcon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.player_profile .profile_section {
  display: grid;
  grid-template-columns: 16% 84%;
  border: 2px solid rgba(143, 3, 1, 0.0784313725);
  margin-top: 35px;
}
.player_profile .profile_section .profileImage {
  position: relative;
  border: 3px solid rgb(133, 121, 119);
  border-radius: 12px;
  transform: scale(1.04);
  overflow: hidden;
  position: relative;
}
.player_profile .profile_section .profileImage::before {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.57) 0%, rgba(255, 255, 255, 0) 100%, rgba(0, 212, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 1;
  width: 100%;
  height: 100%;
}
.player_profile .profile_section .profileImage img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.player_profile .profile_section .profileImage .profile_number {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  z-index: 1;
}
.player_profile .profile_section .profile_instruction .main_col {
  padding: 10px 30px;
}
.player_profile .profile_section .profile_instruction .main_col .top {
  display: flex;
  justify-content: space-between;
}
.player_profile .profile_section .profile_instruction .main_col .top .right_side .player_name {
  font-size: 38px;
  color: rgba(143, 3, 1, 0.8);
}
.player_profile .profile_section .profile_instruction .main_col .top .right_side .teamAgent li {
  margin-bottom: 10px;
}
.player_profile .profile_section .profile_instruction .main_col .top .right_side .teamAgent li:last-child {
  margin-bottom: 0px;
}
.player_profile .profile_section .profile_instruction .main_col .top .right_side .teamAgent li > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.player_profile .profile_section .profile_instruction .main_col .top .right_side .teamAgent li > div label {
  font-size: 15px;
}
.player_profile .profile_section .profile_instruction .main_col .top .right_side .teamAgent .sm_img {
  width: 24px;
  height: 24px;
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .fcol {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  margin-bottom: 5px;
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .fcol .status {
  padding: 3px 10px 2px 10px;
  font-weight: 4c00;
  border-radius: 4px;
  color: #8F0301;
  background: rgba(143, 3, 1, 0.0392156863);
  font-size: 9px;
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .fcol .text {
  font-size: 10px;
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .contract_expiry {
  border: 1px solid rgba(133, 143, 163, 0.3098039216);
  border-radius: 12px;
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .contract_expiry .header {
  border-bottom: 1px solid rgba(133, 143, 163, 0.3098039216);
  padding: 5px 15px;
  font-size: 11px;
  text-align: center;
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .contract_expiry .counter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  position: relative;
  gap: 25px;
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .contract_expiry .counter:before {
  background: rgba(133, 143, 163, 0.3098039216);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 80%;
  content: "";
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .contract_expiry .counter > div {
  text-align: center;
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .contract_expiry .counter > div .count {
  font-size: 14px;
}
.player_profile .profile_section .profile_instruction .main_col .top .left_side .contract_expiry .counter > div .text {
  font-size: 10px;
}
.player_profile .profile_section .profile_instruction .main_col .ft_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player_profile .profile_section .profile_instruction .main_col .ft_bottom .contract_dates label {
  font-size: 12px;
}
.player_profile .profile_section .profile_instruction .main_col .ft_bottom .contract_dates span {
  font-size: 12px;
  font-style: italic;
  color: #384046;
}
.player_profile .profile_section .profile_instruction .main_col .ft_bottom .invite_link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.player_profile .profile_section .profile_instruction .main_col .ft_bottom .invite_link .icon {
  color: #8F0301;
}
.player_profile .profile_section .profile_instruction .main_col .ft_bottom .invite_link .icon i {
  font-size: 14px;
}
.player_profile .profile_section .profile_instruction .main_col .ft_bottom .invite_link .text {
  font-style: italic;
  font-size: 13px;
  color: #8F0301;
  border-bottom: 1px solid #8F0301;
}
.player_profile .profile_section .profile_detail {
  background: rgba(143, 3, 1, 0.0392156863);
  border: 1.6px solid rgba(143, 3, 1, 0.0784313725);
  padding: 25px 30px;
  border-left: none;
  border-radius: 0px 0px 12px 0px;
}
.player_profile .profile_section .profile_detail ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.player_profile .profile_section .profile_detail ul li:last-child {
  margin-bottom: 0px;
}
.player_profile .profile_section .profile_detail ul li label {
  font-weight: 500;
  font-size: 16.5px;
}
.player_profile .profile_section .profile_detail ul li .text {
  font-weight: 400;
  font-size: 16.5px;
}/*# sourceMappingURL=style.css.map */